<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0;">
        <span class="label label-success " style="display:block">机器1</span>
       <div id="container" style="height: 50%"></div>
       <span class="label label-success " style="display:block">机器2</span>
       <div id="container1" style="height: 50%"></div>
       <span class="label label-success " style="display:block">机器3</span>
       <div id="container2" style="height: 50%"></div>
 
       <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

       <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
       <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
       <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script type="text/javascript">


var dom = document.getElementById("container");
var dom1 = document.getElementById("container1");
var dom2 = document.getElementById("container2");
var myChart = echarts.init(dom);
var myChart1 = echarts.init(dom1);
var myChart2 = echarts.init(dom2);

var app = {};
option = null;
option = {
    series: [
        {
            name: '业务指标',
            type: 'gauge',
            detail: {formatter:'{value}%'},
            data: [{value: 50, name: 'cpu负载率'}]
        }
    ]
};
if (option && typeof option === "object") {
    myChart.setOption(option, true);
    myChart1.setOption(option, true);
    myChart2.setOption(option, true);
}

           $(function(){
      
      if (window.s) {
          window.s.close()
      }
      /*创建socket连接*/
      var socket = new WebSocket("ws://" + window.location.host + "/echo");
      socket.onopen = function () {
          console.log('WebSocket open');//成功连接上Websocket
      };
      socket.onmessage = function (e) {
        option.series[0].data[0].value = (e.data.split(' ')[0] * 100).toFixed(2) - 0;
        myChart.setOption(option, true);
        option.series[0].data[0].value = (e.data.split(' ')[2] * 100).toFixed(2) - 0;
        myChart1.setOption(option, true)
        option.series[0].data[0].value = (e.data.split(' ')[4] * 100).toFixed(2) - 0;
        myChart2.setOption(option, true)
          console.log('message: ' + e.data.split(' ')[0]);//打印出服务端返回过来的数据
          $('#messagecontainer').prepend('<p>' + e.data + '</p>');
      };
      // Call onopen directly if socket is already open
      if (socket.readyState == WebSocket.OPEN) socket.onopen();
      window.s = socket;
  })
       </script>
   </body>
</html>
